In [ ]:
import pandas as pd
import numpy as np

arr = np.arange(15)
ser = pd.Series(arr, index = np.arange(2,17))
#ser.iloc[3] = "uhu"  #iloc : logical rather user declared 
#above behavioru will give warning only if u try ser.dtype
print(ser)
print(type(ser))
print(f"first ele = {ser[2]}")
print(type(ser))
print(type(ser.values))

2       0
3       1
4       2
5     uhu
6       4
7       5
8       6
9       7
10      8
11      9
12     10
13     11
14     12
15     13
16     14
dtype: object
<class 'pandas.core.series.Series'>
first ele = 0
<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>

C:\Users\ARSHAN\AppData\Local\Temp\ipykernel_17132\2522333179.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'uhu' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  ser.iloc[3] = "uhu"

In [18]:
print(type(ser))
print(type(ser.values))
print(ser.dtype)

<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>
int32

In [27]:
#from dic

dic = {"ars" : 22, "babd" : 65, "djhajds" : 90}
dic_to_ser = pd.Series(dic)
print(dic_to_ser)

ars        22
babd       65
djhajds    90
dtype: int64

In [21]:
#from scalar

g = pd.Series(10,index = np.arange(2,17))
print(g)

2     10
3     10
4     10
5     10
6     10
7     10
8     10
9     10
10    10
11    10
12    10
13    10
14    10
15    10
16    10
dtype: int64

In [ ]:
#attributes means properties
#methods: operations that u can perform

print(dic_to_ser.iloc[0])  #iloc gives logical indexing, ignorining user defined index 

print(g.values)
print(g.index)

#Series.head(n) #prints first n elemnets, by default 5, similair is Series.tail

22
[10 10 10 10 10 10 10 10 10 10 10 10 10 10 10]
Index([2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], dtype='int32')

In [ ]:
print(dic_to_ser.describe)

print(g.describe())  #works with or wirhourt() , why:: read below


# in Python, calling a method requires (), but accessing an attribute or method reference does not.

# def greet():
#     return "Hello!"

# print(greet)  # Outputs: <function greet at 0x...> (function reference)
# print(greet())  # Outputs: "Hello!" (actual function call)

# Why does describe (without ()) not throw an error?
# describe is a bound method of the Pandas Series or DataFrame.
# When you write ser.describe, Python returns a method reference, which means the function itself is not executed.
# But ser.describe() calls the method and executes it.

<bound method NDFrame.describe of ars        22
babd       65
djhajds    90
dtype: int64>
count    15.0
mean     10.0
std       0.0
min      10.0
25%      10.0
50%      10.0
75%      10.0
max      10.0
dtype: float64

In [ ]:
#Data frames: 

DF = pd.DataFrame(
    {"name" : ["mahmod","arshan","heoa","niga"],
     "age" : [10,20,32,32],
     9 : ["olo", "polo","d",'o']}
)

print(DF)
print('\n')

#series with indexing helps u maintain NaN , if u directly itll fire error, see 9 column below, 
# if do not wanna use series, thn manually us hould insert None
GF = pd.DataFrame(
    {"name" : pd.Series(["mahmod","arshan","heoa","niga"],index = ["a","b","c","d"]),
     "age" : [10,20,32,32],
     9: pd.Series(["olo", "polo", "o"], index=["a", "b", "d"])  # Now it has an index
    })
print(GF)

#makes shit better, using dic 
d = {"name" : pd.Series(["mahmod","arshan","heoa","niga"],index = ["a","b","c","d"]),
     "age": pd.Series([10, 20, 32, 32], index=["a", "b", "c", "d"]),  # âœ… Now explicitly indexed,
     9: pd.Series(["olo", "polo", "o"], index=["a", "b", "d"])  # Now it has an index
    }

print("\n")
subGf = pd.DataFrame(d, index = ["a","c","x"])
print(subGf)


#renamimg columns
subGf = pd.DataFrame(d, index = ["a","c","x"], columns = ["name"])  #filter
print("\n")
print(subGf)

     name  age     9
0  mahmod   10   olo
1  arshan   20  polo
2    heoa   32     d
3    niga   32     o


     name  age     9
a  mahmod   10   olo
b  arshan   20  polo
c    heoa   32   NaN
d    niga   32     o


     name   age    9
a  mahmod  10.0  olo
c    heoa  32.0  NaN
x     NaN   NaN  NaN


     name
a  mahmod
c    heoa
x     NaN

In [ ]:
#creating datframe from list of lists

data = [["mah", 9, "M"],
        ["ol", 90, "F"],
        ["arshan", 21, "M"]]

index = [2,3,4]    #change index
col = ["name", "age", "sex"]  #change column name
df = pd.DataFrame(data, index = index, columns = col)

print(df)

     name  age sex
2     mah    9   M
3      ol   90   F
4  arshan   21   M

In [58]:
#from numpy

data = np.random.rand(3,4)
# print(data)

index = [2,4,6]
column = ["hey", "w", "h","j"]
pd.DataFrame(data, index = index, columns = column)

        hey         w         h         j
2  0.390583  0.869190  0.905004  0.856994
4  0.776856  0.635466  0.729215  0.021102
6  0.577994  0.902689  0.883371  0.374656