In [9]:
arrays = [
    ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
    ["one", "two", "one", "two", "one", "two", "one", "two"],
]

# d = zip(arrays[0],arrays[1])
d = zip(*arrays)
print(d)  #zip returns an iterator , like range

<zip object at 0x000001D26083EAC0>

In [10]:
f = list(d) #make that zip iterator into list so u can print
print(f)

[('bar', 'one'), ('bar', 'two'), ('baz', 'one'), ('baz', 'two'), ('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')]

In [ ]:
import pandas as pd
index = pd.MultiIndex.from_tuples(tuples = f, names = ["first","second"])   #make it into index
print(index)

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [ ]:
#use that index
import numpy as np 
pd.Series(np.random.rand(8) , index = index)   #apply that multi index to Series, (1D array)

first  second
bar    one       72.752144
       two       70.974019
baz    one        1.136350
       two       81.457815
foo    one       48.975077
       two       61.753041
qux    one       60.815283
       two       13.130341
dtype: float64

In [ ]:
#cross product

arrays = [
    ["rob", "van","dam"],
    ["math","sci","commmerce","nig"]
]

index = pd.MultiIndex.from_product(iterables=arrays, names=["name","subject"])

pd.Series(np.random.rand(3*4),index = index)

name  subject
rob   math         0.372478
      sci          0.065129
      commmerce    0.505608
      nig          0.816883
van   math         0.360464
      sci          0.537566
      commmerce    0.974033
      nig          0.444149
dam   math         0.440570
      sci          0.449844
      commmerce    0.153784
      nig          0.260710
dtype: float64

In [20]:
data = pd.DataFrame(np.random.rand(3*4,3), index = index, columns=["unit 1","unit 2","unit 3"])
data

                  unit 1    unit 2    unit 3
name subject
rob  math       0.594377  0.868447  0.593751
     sci        0.862943  0.305738  0.479655
     commmerce  0.448773  0.886882  0.805510
     nig        0.352491  0.318826  0.898489
van  math       0.641631  0.341992  0.201952
     sci        0.992198  0.997254  0.656211
     commmerce  0.309657  0.317244  0.982670
     nig        0.040442  0.650543  0.801482
dam  math       0.148599  0.004316  0.709506
     sci        0.877560  0.799775  0.012367
     commmerce  0.423834  0.869668  0.467773
     nig        0.738615  0.832742  0.986262

In [27]:
print(index.get_level_values(1).unique())
index.get_level_values(0).unique()

Index(['math', 'sci', 'commmerce', 'nig'], dtype='object', name='subject')

Index(['rob', 'van', 'dam'], dtype='object', name='name')

In [28]:
index.get_level_values("name").unique()

Index(['rob', 'van', 'dam'], dtype='object', name='name')

In [29]:
data["unit 1"]

name  subject
rob   math         0.594377
      sci          0.862943
      commmerce    0.448773
      nig          0.352491
van   math         0.641631
      sci          0.992198
      commmerce    0.309657
      nig          0.040442
dam   math         0.148599
      sci          0.877560
      commmerce    0.423834
      nig          0.738615
Name: unit 1, dtype: float64

In [32]:
print(data["unit 1"]["rob"])
print("\n \n")
print(data["unit 2"][index.get_level_values(0)[0]])

subject
math         0.594377
sci          0.862943
commmerce    0.448773
nig          0.352491
Name: unit 1, dtype: float64



subject
math         0.868447
sci          0.305738
commmerce    0.886882
nig          0.318826
Name: unit 2, dtype: float64

In [ ]:
first_man = index.get_level_values(0)[0]
data["unit 1"][first_man]["math"]

#below cell has clear approach,this has confusio in ordering

0.5943772819634333

In [36]:
print(data.loc[(first_man, "math"), "unit 1"])

0.5943772819634333

In [37]:
name = index.get_level_values(0)
sub = index.get_level_values(1)
exam = data.columns

for i,j,k in zip(name,sub,exam):
    print(data[k][i][j])

0.5943772819634333
0.3057384222020493
0.8055103304815735

In [39]:
data[::4]

                unit 1    unit 2    unit 3
name subject
rob  math     0.594377  0.868447  0.593751
van  math     0.641631  0.341992  0.201952
dam  math     0.148599  0.004316  0.709506

In [52]:
data[5::4]  #data[start:stop:step]

                unit 1    unit 2    unit 3
name subject
van  sci      0.992198  0.997254  0.656211
dam  sci      0.877560  0.799775  0.012367

In [ ]:
data["unit 1"].sum()
data["unit 1"]["rob"].sum()

2.2585853084897747

In [61]:
data["total"] = data["unit 1"] + data["unit 2"] + data["unit 3"]
data["status"] = np.where(data["total"] > 1.5, "pass", "fail")
data

                  unit 1    unit 2    unit 3     total status
name subject
rob  math       0.594377  0.868447  0.593751  2.056576   pass
     sci        0.862943  0.305738  0.479655  1.648337   pass
     commmerce  0.448773  0.886882  0.805510  2.141166   pass
     nig        0.352491  0.318826  0.898489  1.569806   pass
van  math       0.641631  0.341992  0.201952  1.185575   fail
     sci        0.992198  0.997254  0.656211  2.645663   pass
     commmerce  0.309657  0.317244  0.982670  1.609570   pass
     nig        0.040442  0.650543  0.801482  1.492466   fail
dam  math       0.148599  0.004316  0.709506  0.862421   fail
     sci        0.877560  0.799775  0.012367  1.689703   pass
     commmerce  0.423834  0.869668  0.467773  1.761276   pass
     nig        0.738615  0.832742  0.986262  2.557619   pass

In [66]:
# Group by student name (first index level) and sum marks
student_totals = data.groupby(level=0).sum()

print(student_totals)
print("\n --- \n")
print(student_totals["total"])

        unit 1    unit 2    unit 3     total            status
name
dam   2.188608  2.506502  2.175908  6.871018  failpasspasspass
rob   2.258585  2.379893  2.777406  7.415885  passpasspasspass
van   1.983927  2.307033  2.642315  6.933275  failpasspassfail

 ---

name
dam    6.871018
rob    7.415885
van    6.933275
Name: total, dtype: float64